#app {
  display: flex;
}

aside {
  width: 200px;
  height: 100vh;
  background-color: #304156;

  .slogan {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    img {
      width: 100%;
    }
  }

  > ul {
    width: 100%;
    margin-top: 40px;


    > li {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;

      a {
        color: white;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

  }

}

main {
  padding: 20px;
  box-sizing: border-box;
  width: calc(100% - 200px);
  height: 100vh;
  background-color: #f0eeee;

  .user_info {
    width: 100%;
    display: flex;
    border-radius: 5px;
    background-color: #808595;

    .left {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80px;
        border-radius: 50%;
      }
    }

    .right {
      width: 50%;
      display: flex;
      flex-wrap: wrap;

      .item {
        width: 50%;
        height: 40px;
        display: flex;
        align-items: center;

      }
    }

  }

  .actions {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #808595;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .collection_article_all {
    border-radius: 5px;
    margin-top: 20px;
    background-color: #808595;

    > p {
      text-align: center;
      font-size: 22px;
      padding-top: 10px;
    }

    .article_list {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .item {
      box-sizing: border-box;
      width: 33.33%;
      display: flex;
      padding: 20px;

      .left {
        width: 30%;

        img {
          width: 100%;
        }

      }

      .right {
        box-sizing: border-box;
        width: 70%;
        padding-left: 10px;

        > p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

  }
}