nav {
  // width: calc(100% - 240px); /* calc不同單位進行運算 100% 減去2邊120px=240px */
  width: 100%; /* calc不同單位進行運算 100% 減去2邊120px=240px */
  height: 60px;
  // background-color: var(--nav_bg);
  display: flex; /* flex佈局 */
  align-items: center; /* 垂直置中 */
  padding: 0 120px; /* 左右padding */
  position: fixed; /* 固定定位 */
  z-index: 100; /* 設定層級 */
  top: 0;
  left: 0;
  transition: all 0.3s; /* 增加過渡動畫 */
  .left {
    width: 60%;
  }
  .right {
    width: 40%;
    display: flex; /* flex佈局 */
    justify-content: right; /* 往右邊排 */
    img {
      width: 20px;
      margin-right: 20px;
      cursor: pointer; /* 顯示小手圖示 */
    }

    .el-dropdown {
      color: white;

      span {
        cursor: pointer;
      }
    }
  }

  a {
    // color: var(--nav_color);
    color: white;
    margin-right: 20px; /* 各連結間距 */
    &:last-child {
      margin-right: 0; /* 最後一個連結間距為0 */
    }
  }
  a.active{
    color:#00a1dd;
  }

}

nav.show {
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

  a {
    color: black;
  }

  a.active{
    color:#00a1dd;
  }

  .el-dropdown {
    color: #333333;
  }
}

header {
  width: 100%;
  height: 600px;
  position: relative; /* 相對定位 */

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;

    h1 {
      font-size: 30px;
      font-weight: 400;
      text-align: center;

      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      text-align: center;
    }
  }

  > .dynamic_shuffl {
    position: absolute; /* 絕對定位 */
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    overflow: hidden; /* 圖片超出隱藏 */
    transition: all 1s; /* 切換過渡時間 */

    // 把所有圖片透明度全部設定為 0
    opacity: 1;
    //使用選擇器，將第一個改為1
    &:first-child {
      opacity: 1;
    }

    img {
      width: 100%;
    }
  }
}

main {
  // width: calc(100% - 240px);
  padding: 20px 120px;
  min-height: 600px;
  background-color: var(--main_bg);
  color: var(--main_color);
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  display: flex;
  height: 180px;
  background-color: var(--footer_bg);
  color: var(--footer_color);
  font-size: 14px;

  .left, .right {
    width: 50%;
    display: flex;
    flex-direction: column; /* 對齊方式：依欄 */
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 垂直居中 */
  }

  .thank {
    color: #1e9ae4;
    font-size: 20px;
    font-weight: bold; /* 字體變粗 */
  }

  .site_info {
    display: flex;
    align-items: center;

    span {
      margin-right: 10px;
      display: flex;
      align-items: center;
    }

    img {
      width: 20px;
      margin-right: 5px;
    }
  }

  .version {
    display: flex;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: #333333;
      height: 30px;
      width: 60px;

      &:nth-child(1) {
        background-color: #ff9800;
        border-radius: 5px 0 0 5px;
      }

      &:nth-child(2) {
        background-color: #26c6da;
        border-radius: 0 5px 5px 0;
      }

    }

  }

  .site_number {
    img {
      width: 10px;
      margin-right: 5px;
    }

    a {
      display: flex;
      align-items: center;
    }
  }

  p {
    margin-bottom: 10px;
  }

  .contact {
    display: flex;
    width: 200px;
    justify-content: space-between; /* 空白佔兩邊 */

    > div {
      position: relative;

      .qrcode {
        width: 80px;
        position: absolute;
        top: -33px;
        left: -20px;
        transition: all 0.4s;
        opacity: 0;
      }
    }

    .svg {
      width: 40px;
      cursor: pointer;
      position: relative;
      z-index: 1;

      &:hover {
        & ~ .qrcode {
          top: -83px;
          left: -20px;
          opacity: 1;
        }
      }
    }
  }

}

.el-dropdown-menu {
  a {
    color: #333333;
  }
}

// ===導航條搜尋===
// 狀態一
nav .search {
  display: inline-flex;

  input {
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    transition: all 0.3s;
  }

  button {
    color: white;
    border: none;
    background-color: transparent;
    transition: all 0.3s;
  }
}

// 狀態二
nav.show .search{
  button{
    color: #333333;
  }
}

// 狀態三
nav .show_search{
  input{
    width: 200px;
    height: 40px;
     border-radius: 5px 0 0 5px;
    padding-left: 10px;
    background-color: rgba(white,0.5);

  }
  button {
    width: 40px;
    background-color: rgba(white,0.5);
    border-radius: 0 5px 5px 0;
    color: #333333;
  }
}

//狀態四
nav.show .show_search{
  input{
    border: 1px solid #e5e9ef;
  }
  button{
    border-color: #e5e9ef;
    border-style: solid;
    border-width: 1px 1px 1px 0;

  }
}
