body {
  margin: 0;
}

a {
  text-decoration: none; /* 超連結不要下底線 */
  color: #e4ab0d; /* 超連結顏色 */
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box; // 寬高設定作用在內容範圍
}

.flex {
  display: flex;  // 排版佈局
}

.flex.center {
  justify-content: center; // 文平置中對齊
}

.flex.item_center{
  align-items: center;  // 垂直置中對齊
}